<div class="footer">
    <div class="div">
        <div class="frame-48">
            <div class="iconly-regular-outline-calendar">
                <img class="calendar" src="/images/calendar0.svg"/>
            </div>
        </div>
        <div class="frame-49">
            <div class="div2">캘린더</div>
        </div>
    </div>
    <div class="div3">
        <div class="frame-48">
            <div class="iconly-regular-outline-location">
                <img class="location" src="/images/location0.svg"/>
            </div>
        </div>
        <div class="frame-492">
            <div class="div2">산책</div>
        </div>
    </div>
    <div class="div4">
        <div class="frame-48">
            <div class="iconly-regular-outline-home">
                <img class="home" src="/images/home0.svg"/>
            </div>
        </div>
        <div class="frame-482">
            <div class="div2">홈</div>
        </div>
    </div>
    <div class="div5">
        <div class="frame-48">
            <div class="iconly-regular-outline-3-user">
                <img class="_3-user" src="/images/_3-user0.svg"/>
            </div>
        </div>
        <div class="frame-49">
            <div class="div2">커뮤니티</div>
        </div>
    </div>
    <div class="div6">
        <div class="frame-48">
            <div class="iconly-regular-outline-category">
                <img class="category" src="/images/category0.svg"/>
            </div>
        </div>
        <div class="frame-482">
            <div class="div2">메뉴</div>
        </div>
    </div>
</div>