<!-- footer -->
<footer th:fragment="footer" class="footer">
    <nav class="nav-buttons">
        <button class="nav-calendar-button" onclick="location.href='/schedule'">
            <div class="nav-icon">
                <img src="/images/calendar0.svg" alt="캘린더">
            </div>
            <span class="nav-text">캘린더</span>
        </button>

        <button class="nav-walk-button" onclick="location.href='/walk'">
            <div class="nav-icon">
                <img src="/images/location0.svg" alt="산책">
            </div>
            <span class="nav-text">산책</span>
        </button>

        <button class="nav-home-button" onclick="location.href='/home'">
            <div class="nav-icon">
                <img src="/images/home0.svg" alt="홈">
            </div>
            <span class="nav-text">홈</span>
        </button>

        <button class="nav-community-button" onclick="location.href='/board'">
            <div class="nav-icon">
                <img src="/images/_3-user0.svg" alt="커뮤니티">
            </div>
            <span class="nav-text">커뮤니티</span>
        </button>

        <button class="nav-shoppingMall-button" onclick="location.href='/shop'">
            <div class="nav-icon">
                <img src="/images/shoppingMall.svg" alt="메뉴">
            </div>
            <span class="nav-text">메뉴</span>
        </button>
    </nav>
</footer>
<!-- /footer -->