<!-- header -->
<header th:fragment="header" class="header">
    <div class="logo-container">
        <div th:if="${#httpServletRequest.requestURI.contains('board/detail')}" onclick="history.back()" class="back-button">
            <img src="/images/chevron-left.svg" alt="뒤로가기">
        </div>
        <div th:unless="${#httpServletRequest.requestURI.contains('board/detail')}">
            <a th:href="@{/home}" class="logo">
                <img th:src="@{/images/PETOPIA_LOGO.png}" alt="PETOPIA">
            </a>
            <span th:if="${isAdmin}" class="admin-badge">관리자 로그인</span>
        </div>
    </div>
        <div class="header-right">
            <div class="logout" th:if="${session.isLoggedIn}">
                <button onclick="location.href='/member/logout'" class="logout-button">
                    <img th:src="@{/images/logoutButton.svg}" alt="로그아웃">
                </button>
            </div>
            <div class="chat">
                <button onclick="location.href='/chatList'" class="chat-button">
                    <img th:src="@{/images/chatbutton.svg}" alt="채팅">
                </button>
            </div>
            <div class="mypage"><!-- 마이페이지 완성 후, 세션값 있으면 mypage로 이동, 세션값 없으면 login로 이동 하게해야함.-->
                <button onclick="location.href='/member/login'" class="mypage-button">  
                    <img th:src="@{/images/mypage.svg}" alt="마이페이지">
                </button>
            </div>
        </div>
    </header>
    <!-- /header -->