<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/vars.css">
  <link rel="stylesheet" href="/css/login.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="login-member-final">
    <div class="header">
      <div class="frame-48">
        <div class="petopia">PETOPIA</div>
      </div>
    </div>
    <div class="body-1">
      <div class="frame-66">
        <div class="petopia2">
          <span>
            <span class="petopia-2-span">
              모두 함께 건강한 세상!
              <br />
            </span>
            <span class="petopia-2-span2">
              반려인, 반려견 건강 프로젝트
              <br />
            </span>
            <span class="petopia-2-span3">PETOPIA</span>
          </span>
        </div>
      </div>
    </div>
    <div class="div">회원 로그인</div>
    <div class="frame-45">
      <div class="iconly-regular-outline-home">
        <img class="home" src="/images/home0.svg" />
      </div>
    </div>
    <div class="frame-70">
      <div class="frame-69">
        <div class="email">
          <div class="email-box">
            <div class="div2">이메일을 입력하세요.</div>
          </div>
        </div>
        <div class="email">
          <div class="email-box2">
            <div class="div2">비밀번호를 입력하세요.</div>
          </div>
        </div>
      </div>
      <div class="member-insert-button">
        <div class="div3">로그인</div>
      </div>
    </div>
    <div class="keep-login-check-box">
      <div class="keep-login-check-box2"></div>
    </div>
    <div class="div4">
      <div class="div5">로그인 상태 유지</div>
    </div>
    <div class="div6">
      <div class="div7">비밀번호 찾기</div>
    </div>
    <div class="frame-68">
      <div class="div8">
        <span>
          <span class="div-8-span">아직 회원이 아니세요?</span>
          <span class="div-8-span2"></span>
        </span>
      </div>
    </div>
    <div class="frame-72">
      <div class="div9">회원가입</div>
    </div>
    <img class="frame-73" src="/images/frame-730.svg" />
    <img class="frame-74" src="/images/frame-740.svg" />
    <div class="sns-login">
      <div class="sns">SNS 계정 로그인</div>
    </div>
    <div class="social-login">
      <a href="/oauth2/authorization/google" class="social-button google">
        <img src="/images/google.png" alt="Google Login">
        <span>Google로 로그인</span>
      </a>
      <a href="/oauth2/authorization/naver" class="social-button naver">
        <img src="/images/naver.png" alt="Naver Login">
        <span>Naver로 로그인</span>
      </a>
      <a href="/oauth2/authorization/kakao" class="social-button kakao">
        <img src="/images/kakao.png" alt="Kakao Login">
        <span>Kakao로 로그인</span>
      </a>
    </div>
    <div class="naver-login">
      <div class="naver-login2">
        <img class="naver-login-api" src="/images/naver-login-api0.png" />
      </div>
    </div>
    <div class="kakao-login">
      <div class="group-45">
        <div class="kakao-login2">
          <img class="kokoa-login-api" src="/images/kokoa-login-api0.png" />
        </div>
      </div>
    </div>
    <div class="google-login">
      <div class="google-login2">
        <img class="google-login-api" src="/images/google-login-api0.png" />
      </div>
    </div>
  </div>
  
</body>
</html>