.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #eee;
    background-color: white;
    position: fixed;
    top: 0;
    left: -16px;
    right: -16px;
    z-index: 1000;
    height: 55px;
}
.header img {
    max-height: 50px;
    width: auto;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-decoration: none;
    display: block;
}

.logo:hover {
    color: #333;
    text-decoration: none;
}

.chat-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.chat-button img {
    width: 22px;
    height: 22px;
}

.mypage button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.mypage img {
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
}
